<a href="https://colab.research.google.com/github/abhii21029d/AbhilashD/blob/main/DATAPROCESSING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['John', 'Alice'],
    'Age': ['25', '30'],
    'Salary': ['50000', '55000']
})
print(df.dtypes)

Name      object
Age       object
Salary    object
dtype: object

In [ ]:
df['Age'] = df['Age'].astype(int)        # To integer
df['Salary'] = df['Salary'].astype(float) # To float
print(df.dtypes)

Name       object
Age         int64
Salary    float64
dtype: object

In [ ]:
from google.colab import drive
drive.mount('dataa.csv')

Mounted at dataa.csv

Encoding Categorical Data

In [ ]:
# Assuming 'Gender' column exists in your DataFrame 'df'
# Replace 'Gender' with the actual column name if it's different.
# Replace 'M' and 'F' with the actual values you want to map.
# If you don't have a 'Gender' column, you'll need to create or load data with one.

# Add a sample 'Gender' column
df['Gender'] = ['M', 'F']

df['Gender'] = df['Gender'].map({'M': 0, 'F': 1})
print(Data)

NameError: name 'Data' is not defined

In [ ]:
import pandas as pd
data['Gender'] = data['Gender'].map({'M': 0, 'F': 1})
print(data)

NameError: name 'data' is not defined

In [ ]:
import pandas as pd
df= pd.read_csv('/content/Dataa.csv')
print(df)

     NAME  AGE GENDER  MARKS     CITY
0   Alice   15      F     85   london
1     Bob   16      M     90  newyork
2  Caithy   19      F     78      NaN
3   David   17      M     93   Sydney
4     Eva   18      F     45   London

In [ ]:
df = pd.get_dummies(df,columns=['CITY'])
print(df)

     NAME  AGE GENDER  MARKS  CITY_London  CITY_Sydney  CITY_london  \
0   Alice   15      F     85        False        False         True
1     Bob   16      M     90        False        False        False
2  Caithy   19      F     78        False        False        False
3   David   17      M     93        False         True        False
4     Eva   18      F     45         True        False        False

   CITY_newyork
0         False
1          True
2         False
3         False
4         False

In [2]:
import pandas as pd
df= pd.read_csv('/content/dataset - Sheet1.csv')
print(df)

     NAME  AGE GENDER  MARKS     CITY
0   Alice   15      F     85   london
1     Bob   16      M     90  newyork
2  Caithy   19      F     78      NaN
3   David   17      M     93   Sydney
4     Eva   18      F     45   London

In [6]:
from sklearn.preprocessing  import MinMaxScaler

scaler = MinMaxScaler()
df['MARKS'] = scaler.fit_transform(df[['MARKS']])
print(df)

     NAME  AGE GENDER     MARKS     CITY
0   Alice   15      F  0.833333   london
1     Bob   16      M  0.937500  newyork
2  Caithy   19      F  0.687500      NaN
3   David   17      M  1.000000   Sydney
4     Eva   18      F  0.000000   London